.transitionPhoto {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    background: #97a9b2;
    border-radius: 5px;
    overflow: hidden;

    &Image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
        display: none;
        transition: opacity 0.5s;
        opacity: 0;
    }

    &Image[data-active=true] {
        display: block;
        opacity: 1;
        z-index: 3;
    }

    &Image[data-active=prepared] {
        display: block;
    }
}